div[data-testid=tweet] {
	padding-left: .35rem !important;
	padding-right: .35rem !important;
}

div[data-testid=tweet] > div > div > div > div:last-child > div:last-child div:last-child > div:first-child {
	max-width:  100% !important;
	margin-bottom: 4px !important;
}

div[data-testid=tweet] > div:last-child > div:nth-child(2) > div > div {
	margin-bottom: 4px !important;
}

div[aria-label="Timeline: Conversation"] > div > div > div > div > article > div > div > div > div:nth-child(3) > div > div {
	margin-bottom: 6px !important;
}

div[data-testid=tweet] > div:last-child > div:last-child > div:nth-child(2) > div > div > div {
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

div[data-testid=DMDrawer],
div[aria-label="Timeline: Trending now"],
nav[aria-label=Footer],
div[data-testid=sidebarColumn] {
	display: none !important;
	visibility: hidden !important;
}

article {
	padding-left: .5em !important;
	padding-right: .5em !important;
	padding-top: .7em !important;
	padding-bottom: .7em !important;
}

article[data-testid=tweet] > div > div > div > div:last-child > div:last-child div:last-child > div:last-child > div[role=group] {
	max-width:  100% !important;
}

article > div > div > div > div > div > div > div[role=group] {
	padding-top: .5rem !important;
}

nav[aria-label="Quote Tweet timelines"] > div[role=tablist] > div[role=presentation] {
	max-width: 50% !important;
	display: contents !important;
}

div[data-testid=primaryColumn] > div > div > div > nav[role=navigation] > div[role=tablist] > div[role=presentation] {
	max-width: 25% !important;
	display: contents !important;
}

div[data-testid=primaryColumn] > div > div > div > div > nav[role=navigation] > div[role=tablist] > div[role=presentation] {
	max-width: 20% !important;
	display: contents !important;
}