body, html, * {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

div[data-testid=primaryColumn],
div[data-testid=tweet],
div[data-testid=primaryColumn] > div > div:last-child,
div[data-testid=primaryColumn] > div > div:last-child > div > div {
	max-width: 650px !important;
}

div[data-testid=DMDrawer],
div[aria-label="Timeline: Trending now"],
nav[aria-label=Footer],
div[data-testid=sidebarColumn] {
	display: none !important;
	visibility: hidden !important;
}

article {
	padding-left: .5em !important;
	padding-right: .5em !important;
	padding-top: .7em !important;
	padding-bottom: .7em !important;
}

article > div > div > div > div > div > div > div[role=group] {
	max-width: 650px !important;
	padding-top: .5em !important;
}

nav[aria-label="Quote Tweet timelines"] > div[role=tablist] > div[role=presentation] {
	max-width: 50% !important;
	display: contents !important;
}

div[data-testid=primaryColumn] > div > div > div > nav[role=navigation] > div[role=tablist] > div[role=presentation] {
	max-width: 25% !important;
	display: contents !important;
}

div[data-testid=primaryColumn] > div > div > div > div > nav[role=navigation] > div[role=tablist] > div[role=presentation] {
	max-width: 20% !important;
	display: contents !important;
}